[Desktop Entry]
Name=Rust Broswer
Comment=Keyboard-driven Rust Browser
Type=Application
Exec=application.sh
Terminal=false
Categories=Utility;Network;Development;
Keywords=Rust;Flatpak;Iced;
Icon=com.github.LegitCamper.Rust-Browser
StartupNotify=true
